<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
  <!--
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  -->
</head>
<body>

  <a href="/login/">Вход</a>
  <a href="/registration/">Регистрация</a>
  <a href="http://127.0.0.1:5000/">localhost:5000</a>
  <a href="https://python-scripts.com/pymysql" target="_blank">PyMySQL</a>
  <a href="http://msc/?db=blog&table=blog&s=tbl_data" target="_blank">msc</a>

  <hr>


    {% block content %}

    {% endblock %}
  

</body>
</html>